// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

 .questions-container{
    display: flex;
    padding-bottom: 200px;
    color: #080808;
    vertical-align: middle;
    flex-wrap: wrap;
  }
  .questions{ 
    position: relative;
    flex-direction: row;
    padding-left: 600px;
    padding-top:100px;
    vertical-align: middle;
  
  }

  .userindex{
    -webkit-filter:  blur(0);
    filter: blur(0);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    
  }
  .userindex:hover{
    -webkit-filter:  blur(3px);
  filter:  blur(3px);
   
    }
    

  
 

  .allbtn{
    position: absolute;
    left:510px;
    top:0px;
    z-index: 10;
  }
.indexbtn1{
  position: absolute;
  top:170px;
  left:300px;
  width: 300px;
  border-radius: 100px;
  background-color: white;
  border: 2px solid rgb(19, 17, 17);
  color: rgb(14, 12, 12);
  line-height: 50px;
}
.indexbtn1:hover {
  background-color: rgb(12, 10, 10);
  border-color: #fbfcfc;
  color: #ebeef0;
  opacity:0.8;
  cursor: pointer;
  text-decoration: none;
}


.indexbtn2{
  position: absolute;
  left:700px;
  top:170px;
  width: 300px;
  border-radius: 100px;
  background-color:white;
  border: 2px solid rgb(19, 17, 17);
  color: rgb(14, 12, 12);
  line-height: 50px;
}
.indexbtn2:hover {
  background-color: rgb(12, 10, 10);
  border-color: #fbfcfc;
  color: #ebeef0;
  opacity:0.8;
  cursor: pointer;
  text-decoration: none;
}

.indexbtn3{
  position: absolute;
  left:1060px;
  top:170px;
  width: 300px;
  border-radius: 25px;
 
  background-color:white;
  border: 2px solid rgb(19, 17, 17);
  color: rgb(14, 12, 12);
  line-height: 50px;
}
.indexbtn3:hover {
  background-color: rgb(12, 10, 10);
  border-color: #fbfcfc;
  color: #ebeef0;
  opacity:0.8;
  cursor: pointer;
  text-decoration: none;
}

.indexbtn4{
  position: absolute;
  left:1400px;
  top:170px; width: 300px;
  border-radius: 25px;
  border-radius: 25px;
  background-color:white;
  border: 2px solid rgb(19, 17, 17);
  color: rgb(14, 12, 12);
  line-height: 50px;
}
.indexbtn4:hover {
  background-color: rgb(12, 10, 10);
  border-color: #fbfcfc;
  color: #ebeef0;
  opacity:0.8;
  cursor: pointer;
  text-decoration: none;
}



.body{
  position: absolute;
  top: 200px; 
  left: 0px; 
  z-index: -100;
  width: 100%;

}

.body1{
  position: absolute;
 top:1500px; 
 text-align: right;
  width: 100%;
  z-index: -5

}
.mgr-10{
  margin-right : 10px;
}
.pagenate{
  position:absolute;
top: 2500px;
padding-left: 1000px;
color: #bdc5ce;

}

.question-show{
color:#0e0f0f;
position: relative ; 
text-align: center;
width: 100%;

}

.ko-1{
  padding-right: 700px;
}
.ko-3{
  padding-left: 700px
}
.ko-4{
  position: relative ; 
  padding-right: 700px;
  padding-top:100px;
  z-index: 100;

}
.ko-5{
  position: relative ; 
  padding-left: 0px ;
  bottom:35px;
  
  
}
.ko-6{
  position: relative ; 
  padding-left: 300px ;
  bottom:100px;
  border-bottom: medium solid #1d242b;
  display: inline-block;
  width:1500px;
  

}
.ko-7{
  position: relative ; 
  top: -60px;
  padding-right:700px;
}
.ko-8{
  position: relative ;
  top: -50px; 
 right: 100px;
  border-bottom: medium solid #0d0d0e;
  display: inline-block;
  width: 3000px;



}

.likebtn1{
  
  border-radius: 100px;
  background-color: white;
  border: 2px solid rgb(207, 34, 34);
  color: rgb(31, 28, 28);
  line-height: 50px;


}
.likebtn1:hover{
background-color: rgb(12, 10, 10);
border-color: #fbfcfc;
color: #eef0eb;
opacity:0.8;
cursor: pointer;
text-decoration: none;
}

.likebtn2{
  border-radius: 100px;
  background-color: white;
  border: 2px solid rgb(182, 32, 32);
  color: rgb(5, 5, 5);
  line-height: 50px;
}

.likebtn2:hover{
  background-color: rgb(190, 40, 40);
  border-color: #fbfcfc;
  color: #161718;
  opacity:0.8;
  cursor: pointer;
  text-decoration: none;}

  .sendbtn{
    top:260px; width: 300px;
    border-radius: 25px;
    border-radius: 25px;
    background-color:white;
    border: 2px solid rgb(19, 17, 17);
    color: rgb(14, 12, 12);
    line-height: 50px;

  }
  .sendbtn:hover {
    background-color: rgb(12, 10, 10);
    border-color: #fbfcfc;
    color: #ebeef0;
    opacity:0.8;
    cursor: pointer;
    text-decoration: none;
  }

 
.comment-wrapper{
 
  display: block;
  text-align: center;
  flex-direction: column;

}

.comment-ko1{
font-size:200%;
color:#0e0f0f;
margin-top:200px;


}
.comment-ko2 {
  position:absolute;
  vertical-align: center;
  left: 900px;
  
 
}
.input[type="text"],
.advisetext{
  border: 1px solid #ddd;
  padding: .5em 1em;
  font-size: 16px;
  line-height: 1.5em;
  transition: border-color ease .2s;
  
  &:focus{
    border-color: #369;
    border-color: #5f98e1;
  }
}



.comment-ko3 {
position: absolute;
  left: 500px;
  
  
}


.balloon {
  margin-bottom: 2em;
  position: relative;
  left: 600px;
  top:100px;
  }
  .balloon:before,.balloon:after {
  clear: both;
  content: "";
  display: block;
  }
  .balloon figure {
  width: 60px;
  height: 60px;
  }.balloon figure img {
    width: 100%;
    height: 100%;
    border: 1px solid #aaa;
    border-radius: 50%;
    margin: 0;
    }
    .balloon-image-description {
    padding: 5px 0 0;
    font-size: 10px;
    text-align: center;
    
    }
    .balloon-text-right,.balloon-text-left {
    position: relative;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    max-width: -webkit-calc(100% - 120px);
    max-width: calc(100% - 120px);
    display: inline-block;
    margin-left: 60px;
    }
    .balloon-text-right {
    border-color: #aaa;
    }
    .balloon-text-left {
    border-color: #aaa;
    }
    .balloon-text-right {
    float: left;
    }
    .balloon-text-left {
    float: right;
    }
    .balloon p {
    margin: 0 0 20px;
    }
    .balloon p:last-child {
    margin-bottom: 0;
    }
    /* 三角部分 */
    .balloon-text-right:before {
    position: absolute;
    content: '';
    border: 10px solid transparent;
    border-right: 10px solid #aaa;
    top: 15px;
    left: -20px;
    }
    .balloon-text-right:after {
    position: absolute;
    content: '';
    border: 10px solid transparent;
    border-right: 10px solid #fff;
    top: 15px;
    left: -19px;
    }
    .balloon-text-left:before {
    position: absolute;
    content: '';
    border: 10px solid transparent;
    border-left: 10px solid #aaa;
    top: 15px;
    right: -20px;
    }
    .balloon-text-left:after {
    position: absolute;
    content: '';
    border: 10px solid transparent;
    border-left: 10px solid #fff;
    top: 15px;
    right: -19px;
    }


.comment-ko4{
  position:relative;
  display: flex;
font-size: 20px;
width:100%;
flex-wrap: wrap;

}

.comment-ko5{
  margin-left: 240px;
  padding: 300px;
  top:10px;
  position: absolute;
  width:10%;

}
.comment-ko6{ 
position:relative;
left: 500px;
top:320px;
border-bottom: solid 3px rgb(15, 17, 19);
width:50%;
}


.new{
  display: flex;
  height: 100px;
  width: 480px;
  padding-left: 100px;
  position: relative;

}

.imagefile{
position: absolute;
left:110px;
top:200px; 
}
.situation{
  position: absolute;
  left: 1000px;
  top: 90px;
}
.field1{
position:absolute;
top: 100px;

}
.field2{
top: 150px;

left: 900px;
}
.field3{

position: absolute;
left: 100px;
top: 700px;
}
.field3 input[type="text"] { 
  width: 40em; 
}

.field4{
  position: absolute;
  top: 40px;
  left:1000px;
}
.btn{
  position:absolute;
  bottom:30px; 
  width: 100px;
  border-radius: 25px;
  border-radius: 25px;
  background-color:white;
  border: 2px solid rgb(19, 17, 17);
  color: rgb(14, 12, 12);
  line-height: 50px;

}
.btn:hover {
  background-color: rgb(12, 10, 10);
  border-color: #fbfcfc;
  color: #ebeef0;
  opacity:0.8;
  cursor: pointer;
  text-decoration: none;
}

.comment{
  position: absolute;
  top: 650px;
  left: 100px;
}

.field2 input[type="checkbox"] { display: none;
}

.field2 input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  color: rgb(7, 7, 7);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  z-index: 2000;
}

.field2 input[type="checkbox"] + label:last-child { margin-bottom: 0; z-index: 2000;}

.field2 input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #050505;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
  
}

.field2 input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
 z-index:2000px;
}

.newimage{

position: absolute;
left: 600px;
bottom:150px;
}
  